<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EindOpdracht_Csharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="stendenweatherEntities" connectionString="metadata=res://*/WeatherModel.csdl|res://*/WeatherModel.ssdl|res://*/WeatherModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;user id=root;password=toor;persistsecurityinfo=True;database=stendenweather&quot;" providerName="System.Data.EntityClient" />
    <add name="stendenweatherEntities1" connectionString="metadata=res://*/WeaterModel.csdl|res://*/WeaterModel.ssdl|res://*/WeaterModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;user id=root;password=toor;persistsecurityinfo=True;database=stendenweather&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <userSettings>
    <EindOpdracht_Csharp.Properties.Settings>
      <setting name="UserLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="RefreshInterval" serializeAs="String">
        <value />
      </setting>
      <setting name="TemperatureF" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TemperatureC" serializeAs="String">
        <value>True</value>
      </setting>
    </EindOpdracht_Csharp.Properties.Settings>
  </userSettings>
</configuration>